@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gradient-text-custom {
  background-image: linear-gradient(189deg, #f9004d, #ee1275);
  -webkit-background-clip: text;
  display: inline-block;
  -webkit-text-fill-color: transparent;
}

.custom-background {
  transition: 0.3s;
  background-color: #f6f6f6;
}

.custom-background:hover {
  background-image: linear-gradient(189deg, #f9004d, #ee1275);
  cursor: pointer;
  color: white;
}

.custom-background:hover span {
  color: white;

}